body {
    margin: 0;
    background-color: rgb(221, 221, 221);
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.header {
    color: rgb(168, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

#headerText {
    font-size: 4vw;
    padding-bottom: 2vh;
}

#icon {
    filter: invert(10%) sepia(89%) saturate(4376%) hue-rotate(1deg) brightness(98%) contrast(119%);
    height: 10vw;
}

.appHolder {
    margin-left: 25vw;
    margin-right: 25vw;
    height: fit-content;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2vh;
    background-color: rgb(90, 90, 90);
    border-radius: 10px;
    border-color: rgb(90, 90, 90);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.842);
}

.book {
    background-color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    margin-top: 2vh;
    border-radius: 10px;
}

.textField {
    font-size: 1.5vh;
    width: 45vw;
    text-align: center;
    margin: 0.5vh;
}

.addButton {
    margin-top: 2vh;
    height: 5vh;
    width: 20vw;
    color: white;
    background-color: rgb(62, 182, 62);
    font-size: 2vh;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.349);
}

.addButton:hover {
    background-color: rgb(79, 192, 79);
}

.addButton:active {
    background-color: rgb(62, 182, 62);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.623);
    transform: translateY(1px);
}

.formDiv {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    width: 45vw;
    border-radius: 10px;
    background-color: rgb(172, 172, 172);
}

input {
    height: 3vh;
    width: 40vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 10px;
    text-align: center;
    border-style: none;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.466);
}

input:checked {
    box-shadow: none;
}

input:focus {
    outline: none;
}

label {
    margin-top: 1vh;
    font-size: 1.5vh;
}

.checkBox {
    box-shadow: none;
}

.submitButton {
    margin-top: 1vh;
    margin-bottom: 2vh;
    height: 5vh;
    width: 20vw;
    color: white;
    /*background-color: rgb(182, 62, 62); */
    background-color: rgb(62, 182, 62);
    font-size: 2vh;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.349);
}

.submitButton:hover {
    background-color: rgb(79, 192, 79);
}

.submitButton:active {
    background-color: rgb(62, 182, 62);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.623);
    transform: translateY(1px);
}